.a1{
    background-color: black;
    height: 300px;
    width: 300px;
    font-size: 35px;
    color: white;
    text-indent: 15%;
}
h1{
    margin: 0px;
    text-align: center;
    height:30px;
    width: 300px;
    font-size: 20px;
}
input{
    margin-left: 20%;
    height: 30px;
    width: max-content;
}
